# PostgreSQL Database Layer configuration
DOMAIN_HOST=localhost
PG_USER=postgres
PG_DB=postgres
PG_PASS=b9cnfsbencbqzk91ooexeyiagi5wzav4
SECRET_KEY=mu4ubzbfjejs2zcshri1omrcex6unikd2rlmbfreofoqcdx4hy3eynfngonnm64p

# Cloud / Dokploy configuration
DOMAIN_HOST=skygenesisenterprise.com
APP_IMAGE_TAG=cloud
POSTGRES_USER=postgres
POSTGRES_PASSWORD=rxza2cfem5b4mwcx
POSTGRES_DB=companywebsite
DATABASE_URL=postgresql://postgres:rxza2cfem5b4mwcx@enterprise-website-db-company-website-syj4x5:5432/companywebsite
SECRET_KEY=mu4ubzbfjejs2zcshri1omrcex6unikd2rlmbfreofoqcdx4hy3eynfngonnm64p
